<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">

	<bean id="footballCoach" class="ua.logos.spring.model.FootballCoach" />

	<bean id="happyFortuneService" class="ua.logos.spring.service.impl.HappyFortuneService"/>

	<bean id="hockeyCoach" class="ua.logos.spring.model.HockeyCoach">
		<constructor-arg ref="happyFortuneService" />
	</bean>

	<bean id="tennisCoach" class="ua.logos.spring.model.TennisCoach">
		<property name="fortuneService" ref="happyFortuneService" />
		<property name="name" value="Arnold"/>
	</bean>

</beans>